<section class='home' id='home'>
  <div class='max-width'>
    <div class='home-content'>
      <div class='text-1'>Welcome to</div>
      <div class='text-2'>Code College!</div>
      <div class='text-3'>
        Here you can learn
        <span class='typing'></span>
      </div>
    </div>
  </div>
</section>

<section class='about' id='about'>
  <div class='max-width'>
    <h2 class='title'>About Code College</h2>
    <div class='about-content'>
      <div class='column left'>
        <img src='./assets/images/logos/logo.jpeg' alt='Our Logo' />
      </div>
      <div class='column right'>
        <div class='text'>
          Using Code College
          <span class='typing-2'></span>
        </div>
        <p>
          Here at CodeCollege, we are an online coding academy that is
          student-centred that prepares students for coding. Providing basic
          languages such as HTML and CSS to more advanced languages such as
          JavaScript and SQL.
        </p>
        <a href='/login'>Register now!</a>
      </div>
    </div>
  </div>

  <section class='contact' id='contributors' style='background-color: ;'>
    <div class='max-width'>
      <h2 class='title'>Contributors</h2>
      <div class='carousel owl-carousel'>
        <div class='card'>
          <div class='box'>
            <img
              src='./assets/images/profilepics/Ahmed.png'
              alt='Picture of Ahmed'
            />
            <a href='https://github.com/Ahmeds226' target='_blank'>
              <div class='text'>Ahmed Shahnawaz</div>
            </a>
          </div>
        </div>

        <div class='card'>
          <div class='box'>
            <img
              src='./assets/images/profilepics/Aisha.png'
              alt='Picture of Aisha'
            />
            <a href='https://github.com/Aishaabdi1' target='_blank'>
              <div class='text'>Aisha Abdi</div>
            </a>
          </div>
        </div>

        <div class='card'>
          <div class='box'>
            <img
              src='./assets/images/profilepics/Bader.jpeg'
              alt='Picture of Bader'
            />
            <a href='https://github.com/XBaderM' target='_blank'>
              <div class='text'>Bader Munir</div>
            </a>
          </div>
        </div>

        <div class='card'>
          <div class='box'>
            <img
              src='./assets/images/profilepics/Jaswant.png'
              alt='Picture of Jaswant'
            />
            <a href='https://github.com/jeerjs' target='_blank'>
              <div class='text'>Jaswant Jeers</div>
            </a>
          </div>
        </div>

        <div class='card'>
          <div class='box'>
            <img
              src='./assets/images/profilepics/Mohammed.jpeg'
              alt='Picture of Mohamed'
            />
            <a href='https://github.com/mohamedisaaq0' target='_blank'>
              <div class='text'>Mohamed Hassan</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>