<section class='home' id='home'>
  <div class='max-width'>
    <div class='home-content'>
      <div class='text-1'>Welcome to</div>
      <div class='text-2'>Code College!</div>
      <div class='text-3'>
        Here you can learn
        <span class='typing'></span>
      </div>
    </div>
  </div>
</section>

<section class='about' id='about'>
  <div class='max-width'>
    <h2 class='title'>About Code College</h2>
    <div class='about-content'>
      <div class='column left'>
        <img src='./assets/images/logos/Logo.png' alt='Our Logo' />
      </div>
      <div class='column right'>
        <div class='text'>
          Using Code College
          <span class='typing-2'></span>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          dicta incidunt ea aut soluta laborum repellat error voluptatibus
          maxime praesentium laboriosam, dolor excepturi enim hic consequuntur,
          odit aliquam, mollitia quam.
        </p>
        <a href='#login'>Register now!</a>
      </div>
    </div>
  </div>
</section>