<section class='languages' id='languages'>
  <div class='max-width'>
    <h2 class='title'>Languages</h2>
    <div class='carousel owl-carousel'>
      <div class='owl-stage-outer'>
        <div class='owl-stage'>
          {{#each language}}
            <div class='card'>
              <div class='box'>
                <img
                  src='./assets/images/logos/html logo.webp'
                  alt='HTML Logo'
                />
                <div class='text'>{{name}}</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>