section class="languages">

    <div class="text">
      <h2 class="tit">Modules</h1>
      <h3 class="sub">javascript</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro rerum
          velit esse nesciunt numquam sint vel maxime, voluptas, possimus modi
          magni ratione mollitia iusto culpa saepe quod. Labore, ullam
          praesentium.
        </p>
    </div>
    </section>