<section class="languages">

    <div class="text">
      <h1 class="tit">javascript</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro rerum
          velit esse nesciunt numquam sint vel maxime, voluptas, possimus modi
          magni ratione mollitia iusto culpa saepe quod. Labore, ullam
          praesentium.
        </p>
        
        <h2 class="sub">Modules</h1>
    </div>
    
    
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example itemndsfknsknflksndfklnsdlkfnsdlknfs
        fsdfknsdklnflksdnflknsdlkfnlsdnfls
        fms;dmfkdsnmflksdnf
    </span>
  </label>
</div>

</section>