<section class='languages'>

  <div class='text'>
    <h1 class='tit'>{{language.name}}</h1>

    <p class='description'>
      {{language.description}}
    </p><br />
    <h2 class='sub'>Modules</h2>
  </div>

  {{#each language.modules as |module|}}
    <div id='item-list'>
      <label class='container2'>
        <input type='checkbox' unchecked='checked' />
        <span class='checkmark'></span>
        <span class='checklabel'>{{module.name}}
        </span>
      </label>
    </div>
  {{/each}}

</section>