{{!-- 

<section class='languages'>

  <div class='text'>
    <h1 class='tit'>{{language.name}}</h1>

    <p class='description'>
      {{language.description}}
    </p>
    <h3 class='sub'>Modules</h3>
  </div>

  {{#each language.modules as |module|}}
    <div id='item-list'>
      <label class='container2'>
        <input type='checkbox' unchecked='checked' />
        <span class='checkmark'></span>
        <span class='checklabel'>{{module.name}}
        </span>
      </label>
    </div>
  {{/each}}

</section> --}}


<section class="languages">

    <div class="text">
      <h2 class="tit">javascript</h1>
      
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro rerum
          velit esse nesciunt numquam sint vel maxime, voluptas, possimus modi
          magni ratione mollitia iusto culpa saepe quod. Labore, ullam
          praesentium.
        </p>
        <h3 class="sub">modules</h3>
    </div>
    

    <div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">arrays
    </span>
  </label>
</div>

<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">arrays
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example
    </span>
  </label>
</div>
<div id="item-list">
  <label class="container2">
    <input type="checkbox" unchecked="checked">
    <span class="checkmark"></span>
    <span class="checklabel">Example 
    </span>
  </label>
</div>

</section>