p{
    color: #eee;
    text-align: centre;
   
}

.text{
    text-align: center;
    padding-bottom: 30px;
}

.sub{
    color: var(--yellow);
    font-size: 20px;

}

/* The container */

.container2 {
    width: 50%;
    margin:auto;
    /*this is the general left margin*/
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  /* Hide the browser's default checkbox */
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
  }
  
  
  /* On mouse-over, add a grey background color */
  
  .container:hover input~.checkmark {
    background-color: #ccc;
  }
  
  
  /* When the checkbox is checked, add a green background */
  
  .container input:checked~.checkmark {
    background-color: darkgreen;
  }